.root{
    -fx-background-color: white;
}

.label{
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-text-fill: #000000;
}

.button
{
    -fx-background-color: rgba(221, 221, 221, 0.98);
    -fx-font-size: 30;
    -fx-font-family: Arial;
    -fx-text-fill: dimgrey;
}

.toggle-button
{
    -fx-background-color: rgba(221, 221, 221, 0.98);
    -fx-font-size: 30;
    -fx-font-family: Arial;
    -fx-text-fill: dimgrey;
}

.toggle-button:focused
{
    -fx-background-color: rgba(136, 136, 136, 0.98);
    -fx-font-size: 30;
    -fx-font-family: Arial;
    -fx-text-fill: #3a3a3a;
}

#topBox{
    -fx-background-color: red;
    -fx-text-fill: #4d4d4d;
}

#settingsPane{
    -fx-border-color: dimgrey;
    -fx-border-width: 2px;
    -fx-background-color: red;
}

#circle {
    width: 100px;
    height: 100px;
    border-radius: 50%
}